  <h1>All Robots</h1>
</div>

<div class="container center">
  <div class="row col-md-offset-2 text-center">
  <% @robots.each do |robot|%>

<div class="well-robot col-md-3">
    <img class="col-md-offset-1 col-sm-10" src="https://robohash.org/<%= robot.id %>" alt="random robot pic">
    <h4 class=""><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h4>
  <div class="row col-md-3"><a class="btn btn-primary btn-sm" href="/robots/<%= robot.id %>/edit">Edit</a>
  <form class="" action="/robots/<%= robot.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn btn-primary btn-sm" type="submit" value="Delete">
  </form></div>
</div>

 <% end %>
 </div>
 </div>
