<img src="https://robohash.org/<%= @robot.id %>">
<h2>This is <%= @robot.name %>!</h2>
<p><%= @robot.name %> is from <%= @robot.city %>, <%= @robot.state %> and is <%= @robot.age %> years old.<p>
<p>They have been working in the <%= @robot.dept %> Department since <%= @robot.hired %>.
